# Ignore log files
*.log

# Ignore build directory
build/

# Ignore temporary files
*.tmp
temp*

# Ignore all files in the .vscode directory
.vscode/

# Ignore all .env files
.env

# Ignore the node_modules directory
node_modules/

# Ignore all files in a directory called "cache" at any depth
**/cache

# Ignore all .txt files except important.txt
*.txt
!important.txt